.accordion-container {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: auto;
  background-color: #fff;
  color: #000;
  width: 100%;

  button {
    background-color: transparent;
    color: #000;
    cursor: pointer;
  }
}

.accordion-small {
  width: 12.5rem;
}

.accordion-medium {
  width: 21.875rem;
} 

.accordion-large {
  width: 34.375rem;
}