.card-container {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: auto;
  background-color: #fff;
  color:#000;
}

.card-small {
  width: 12.5rem;
}

.card-medium {
  width: 21.875rem;
}

.card-large {
  width: 34.375rem;
}
